service: lambda-cron

provider:
  name: aws
  runtime: nodejs8.10
  memorySize: 1536
  timeout: 100
  stage: ${opt:stage, 'dev'}
  region: eu-west-1

functions:

  bookClasses:
    handler: index.handler
    events:
      - schedule: cron(0 23 ? * TUE *) # 23:00 UTC of each Tuesday (00:00 CST)

package:
  artifact: ./package.zip

plugins:
  - serverless-hooks-plugin

custom:
  hooks:
    package:initialize:
      - npm run package
